html{
    background-image: url(https://i.pinimg.com/originals/80/c9/83/80c983e16fb0d9b07bcf6ff87425e60f.jpg);
    background-size: cover;
    
}

#title{
   text-align: center;
   font-family: cursive;
   font-size: 80px;
display: inline;
margin-left: 580px;
margin-right: 250px;
}



.taskHead{
    text-align: left;
    display: inline;
    margin-left: 160px;
    font-family: cursive;
}

.noteHead{
    text-align: center;
    display: inline;
    margin-left: 400px;
    font-family: cursive;
    
}

.completeHead{
    text-align: right;
    display: inline;
    margin-left: 350px;
    font-family: cursive;
    
}


.taskData{
    margin-top:100px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 40px;

}

.completeButton{
    margin-right: 10px;
}

.lineThrough{
  text-decoration: line-through;
}
