html{
    background-image: url(https://i.pinimg.com/originals/80/c9/83/80c983e16fb0d9b07bcf6ff87425e60f.jpg);
    background-size: cover;
    
}

#title{
   text-align: center;
   font-family: cursive;
   font-size: 100px;
    display: inline;
    margin-left: 580px;
    margin-right: 200px;
}

#headersForTasks{
    margin-right: 50px;
}


.taskHead{
    text-align: left;
    display: inline;
    margin-left: 180px;
    font-family: cursive;
    font-size: 50px;
    text-decoration: underline;
}

.noteHead{
    text-align: center;
    display: inline;
    margin-left: 350px;
    font-family: cursive;
    font-size: 50px;
    text-decoration: underline;
    
}

.completeHead{
    text-align: right;
    display: inline;
    margin-left: 350px;
    font-family: cursive;
    font-size: 50px;
    text-decoration: underline;
    
}


.taskData{
    margin-top:100px;
    padding-left: 180px;
    padding-right: 170px;
    padding-top: 40px;
    font-family: cursive;
    font-size: 25px;

}

.completeButton{
    margin-right: 10px;
}

.lineThrough{
  text-decoration: line-through;
}
